server:
    port: ${SERVER_PORT:8080}
    error:
        include-message: always

spring:
    application:
        name: ${APP_NAME:fastfood-api}
    mvc:
        problemdetails:
            enabled: true
    security:
        oauth2:
            resourceserver:
                jwt:
                    issuer-uri: ${SPRING_SECURITY_OAUTH2_RESOURCESERVER_JWT_ISSUER_URI:https://auth.erre.com/realms/fastfood}

management:
    endpoints:
        web:
            exposure:
                include: "health,info"
    endpoint:
        health:
            probes:
                enabled: true

app:
    cors:
        allowed-origins: ${APP_CORS_ALLOWED_ORIGINS:https://app.erre.com,http://localhost:3000}
