name: api-ci

on:
  push:
    branches: [ main ]          # solo cuando mergeas a main
  workflow_dispatch:            # y por si quieres lanzarlo manualmente

permissions:
  contents: read
  packages: write

env:
  MODULE: bootstrap

concurrency:
  group: fastfood-api-main
  cancel-in-progress: true

jobs:
  build-push:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: '17'
          cache: maven

      - name: Build JAR
        run: ./mvnw -B -DskipTests -pl bootstrap -am package

      - uses: docker/setup-qemu-action@v3
      - uses: docker/setup-buildx-action@v3

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Compute tags
        id: vars
        run: |
          OWNER=$(echo "${{ github.repository_owner }}" | tr '[:upper:]' '[:lower:]')
          IMAGE="ghcr.io/${OWNER}/fastfood-api"
          if [[ "${{ github.ref_type }}" == "branch" && "${{ github.ref_name }}" == "main" ]]; then
            echo "tags=${IMAGE}:dev,${IMAGE}:sha-${GITHUB_SHA::7}" >> $GITHUB_OUTPUT
          else
            echo "tags=${IMAGE}:${{ github.ref_name }}" >> $GITHUB_OUTPUT
          fi

      - name: Build & push image
        uses: docker/build-push-action@v6
        with:
          context: .
          file: Dockerfile
          platforms: linux/amd64
          push: true
          build-args: |
            MODULE=${{ env.MODULE }}
          tags: ${{ steps.vars.outputs.tags }}
          cache-from: type=gha
          cache-to: type=gha,mode=max

  deploy:
    needs: build-push
    runs-on: self-hosted
    steps:
      - name: Deploy over SSH
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          key: ${{ secrets.SSH_KEY }}
          script: |
              set -e
              sudo docker compose -f /opt/apps/stack/docker-compose.yml pull api-fastfood
              sudo docker compose -f /opt/apps/stack/docker-compose.yml up -d api-fastfood
              curl -k --fail --retry 5 --retry-delay 3 https://api.erre.com/fastfood/api/health

